@charset "utf-8";
/*
   sample start file for final project - educational use only
   
   Author:   Sheila Moore
   Date:     11/2/24
   
  

*/

* {
    margin: 0; 
    padding: 0;
}

body {
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
	background-color:  #dfbf9f;
}

#container {
    width: 930px;
    border-width: 1px;
    margin: 0 auto;
    background-color: #f6d8ac;
}


header {
    width: 910px;	
    margin-bottom: -4.5px;
    margin-top: 0px;
    text-align: center;
    
   	
}

nav {
    width: 200px;
    margin: 0 5px 0 5px; 
    padding: 25px 10px 0 10px;
    float: left;
    text-align: center;
}

nav ul {
    font-weight: bold;
    list-style: none;
}

nav ul li a {
    padding: 5px;
    color: black;
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    background: gray;
    border-radius: 10px;
    color: white;
}

#main {
    width: 440px;
    padding: 10px;
    float: left;
    color: black;
    border-left: 2px solid;
    border-right: 2px solid;    
}

#main p {
    text-indent: 1.5em;
}

blockquote {
	margin: 0.5em 0px;
	font-size: 0.95em;
	width: 100%;
	font-family: Lucida Handwriting;
}

figure{
    padding-top: 10px;
    text-align: center;
}

figcaption {
    display: block;
}

aside {
    width: 200px;
    margin: 0 5px 0 5px;
    padding: 10px;
    float: right;
}

aside p {
    display: block;
    font-size: 0.9em;
}

h2 {
    font-size: 1.4em;
    text-align: center;
    padding-bottom: 0.5em;
}

h3 {
    text-align: center;
	padding-bottom: 0.5em;
    padding-top: 0.5em;
}

h4 {
    text-align: right;
    padding-bottom: 0.75em;
    padding-top: 0em;
}

footer {
    width: 907px;
    margin: 0;
    padding: 10px;
    background-color:  #cc9966;
    clear: both;
    color: white;
    font-weight: bold;
    text-align: center;
	
}

#wrapper {
    width: 927px;
    margin-bottom: 10px;
    border: 2px solid;
  
}

/* navigation for footer */
footer a:link {
    color: white;
    text-decoration: none;
}

footer a:visited {
    color: white;
    background-color: grey;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Table Styles */

table.prices {
	background: #cc9966;
	border: 20px rgb(153, 0, 153);
	border-collapse: collapse;
	font-size: 0.75em;
	width: 100%
}

/* Table Cell Styles */

table.prices th, table.prices td{
	border: 2px solid black;
	font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
	padding: 5px;
	vertical-align: top;
}

/* Table Row Styles */

table.prices thead {
	background: #FAEBC9	;
	color: black;
}

/* Video Player Styles */

iframe {
	display: block;
	margin: 10px auto;
	width: 100%;
}


	
/* Form Layout Styles */

div.formRow {
	display: flex;
	flex-flow: row wrap;
	margin: 7px 0px;
}

div.formRow > * {
	flex: 1 1 150px;
}	

form#message {
	display: flex;
	flex-flow: row wrap;
}
form#message > fieldset {
	background-color: #cc9966;
	border-radius: 20px;
	flex: 1 1 300px;
	font-size: 0.85em;
	padding: 10px;
	margin: 10px;
}


/* Legend Styles */

legend {
	background-color: black;
	color: white;
	padding: 5px;
}


/* Text Area Styles */

textarea {
	margin-top: 10px;
	height: 100px;
	width: 95%;
}
